/* MEDIA QUERIES MOBILE */
@media screen and (max-width: 576px) {
  .services {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "item1"
      "item2"
      "item3"
      "item4";
  }
  .principal--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .h2__title {
    font-size: calc(2rem + 1.5vw);
  }
  .img__left,
  .img__right {
    margin: 0 1.5rem;
  }
  .cervezas--grid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas:
      "scottish"
      "american"
      "cream"
      "stout"
      "doble"
      "session";
  }
  .grid__contacto {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
  }
  .verMas {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "verMas__left"
      "verMas__right";

    .verMas__left {
      grid-area: verMas__left;
      .verMas__title a {
        font-size: calc(1.55rem + 1vw);
      }
      .verMas__text {
        font-size: calc(0.95rem + 1vw);
      }
    }
    .verMas__right {
      grid-area: verMas__right;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  .footer__grid {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "item1" "item2" "item3" "item4";

    .item1 {
      grid-area: item1;
    }
    .item2 {
      grid-area: item2;
    }
    .item3 {
      grid-area: item3;
    }
    .item4 {
      grid-area: item4;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .cervezas--grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "scottish american cream"
      "stout doble session";
  }
}
/* MEDIA QUERIES TABLET */
@media screen and (max-width: 1024px) {
  .header--cervezas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../../img/header--cervezas.jpg);
    background-position: 70%;
  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../img/header--mobile.jpg);
    background-size: cover;
    background-position: 50%;
    .header__hero {
      min-height: 75vh;
      margin: auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .hero__p {
        font-size: calc(1rem + 1vw);
      }
    }
  }
  .principal--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .principal__image {
      max-width: 480px;
      margin: 0 1.5rem;
    }
    .margin-bottom--mobile {
      margin-bottom: 2.5rem;
    }
    .principal__text {
      margin: 0 1.5rem;
      max-width: 580px;
      padding-bottom: 2.5rem;
      text-align: center;
    }
  }
  .h2__title {
    font-size: calc(2rem + 1.5vw);
  }
  .elteam__p {
    margin: 2.5rem 1.5rem;
  }
  .secondary--flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img__left,
    .img__right {
      max-width: 480px;
    }
    .img__left {
      margin-bottom: 1.5rem;
    }
    .img__right {
      margin-bottom: 2.5rem;
    }
  }
  /* SECCION SERVICIOS (ICONOS) */
  .services {
    .item1,
    .item4 {
      border-top: 2px solid $colorBorder;
      border-bottom: 2px solid $colorBorder;
    }
    .item3 {
      border-top: 2px solid $colorBorder;
    }

    .item__title {
      font-size: calc(1rem + 1vw);
    }
    .item__subtitle {
      font-size: calc(0.5rem + 1vw);
    }
  }
  .contacto__img {
    display: flex;
    justify-content: center;
    margin-bottom: 2.5rem;
  }
  .form__contacto {
    display: flex;
    justify-content: center;
  }
  .verMas__left {
    padding-left: 1.5rem;
    padding-bottom: 3rem;

    .verMas__title a {
      font-size: calc(1.5rem + 1vw);
    }

    .verMas__text {
      font-size: calc(1rem + 1vw);
    }
  }
  .verMas__right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .verMas__item {
      padding: 1.5rem;
      .item__name {
        font-size: calc(1rem + 1vw);
      }
    }
  }
  footer {
    padding: 2.5rem;
    .item1,
    .item2,
    .item3,
    .item4 {
      margin-bottom: 2.5rem;
    }
  }
}
/* MEDIA QUERIES DESKTOP */
@media screen and (min-width: 1024px) {
  .header--cervezas {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../../img/header--cervezas.jpg);
  }
  header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4)),
      url(../img/header--desktop.jpg);
    background-size: cover;
    .hero--cervezas {
      justify-content: start !important;
    }
    .header__hero {
      padding-top: 35vh;
      margin: 0 5rem;
      display: flex;
      justify-content: end;
      align-items: center;
      .hero__p {
        width: 40%;
        font-size: calc(1.25rem + 1vw);
      }
    }
  }
  /* SECCION SERVICIOS (ICONOS) */
  .services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    .item__subtitle {
      font-size: calc(0.4rem + 0.4vw);
    }
    .item1,
    .item2,
    .item3 {
      border-top: 2px solid $colorBorder;
      border-left: 2px solid $colorBorder;
      border-bottom: 2px solid $colorBorder;
    }
    .item4 {
      border: 2px solid $colorBorder;
    }
  }
  h1 {
    font-size: 2.5rem;
  }
  .h2__title {
    font-size: calc(1rem + 1.5vw);
    margin: 2.5rem 0;
  }
  .principal--flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .principal__image {
      max-width: 30rem;
      margin: 0 2.5rem;
    }
    .margin-bottom--desktop {
      margin-bottom: 5rem;
    }
    .principal__text {
      max-width: 30rem;
    }
  }
  .elteam__p {
    margin: 0 2.5rem;
    width: 50%;
  }
  .secondary--flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .img__left,
    .img__right {
      margin: 2.5rem 1.25rem;
      width: 580px;
      height: auto;
    }
  }
  .cervezas--grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    grid-template-areas:
      "scottish american cream"
      "stout doble session";
  }
  .grid__contacto {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;

    .contacto__img {
      display: flex;
      justify-content: end;
    }

    .form__contacto {
      display: flex;
      justify-content: left;
    }
  }

  .verMas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    .verMas__left {
      .verMas__title a {
        font-size: calc(1.25rem + 1vw);
      }
      .verMas__text {
        font-size: calc(0.35rem + 1vw);
      }
    }
    .verMas__right {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .item__name {
        font-size: calc(0.5rem + 1vw);
      }
    }
  }
  footer {
    padding: 5rem;
    .footer__grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: auto;
      grid-template-areas: "item1 item2 item3 item4";
      .item1 {
        grid-area: item1;
      }
      .item2 {
        grid-area: item2;
      }
      .item3 {
        grid-area: item3;
      }
      .item4 {
        grid-area: item4;
      }
    }
  }
}
