@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&family=Raleway:wght@300;400;500;600;700&display=swap");

$fontRaleway: "Raleway", sans-serif;
$fontTitles: "Playfair Display", serif;

$colorPrimary: #492d1d;
$colorClay: #ae9688;
$colorBorder: #2c2c2c;
$colorDark: #181818;
$colorMoreDark: #141414;
$colorWhite: #fff;
$colorYellow: #ffe69d;
